* {
    margin: 0;
    padding: 0;
}
body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 100;
}
h1, h3 {
    color: #FFD600;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

header {
    background: black;
    background-image: url('/assets/sw-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 45%;
    color: #FFD600;
    display: flex;
    align-items: center;
}

header > h1 {
    font-size: 3.7em;
    font-weight: 100;
    margin-left: 5%;
}

main {
    background: #424242;
    height: 65%;
    display: flex;
    justify-content: space-evenly;
}
.characters, .details {
    width: 35%;
    margin-top: -2%;
    height: 95%;
} 
.characters-header {
    background: #535556;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #535556;
    border-radius: 10px 10px 0 0;
}
.character-list {
    height: 52.5%;
    background: #C4C4C4;
}

.character-list > ul > li {
    padding: 2%;
    font-size: 0.9em;
    cursor: pointer;
}
.character-list > ul {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    list-style-type: none;
}

.character-list > ul > li:nth-child(even) {
    background: #E1DEDE;
    color: #535556;
}

.character-list > ul > li:nth-child(odd) {
    background: #8E8E8E;
    color: #FFFFFF;
}
.chosen-character {
    background: #444444 !important;
    color: #FFFFFF !important;
    padding-left: 4% !important;
}




.navigation {
    background: #C4C4C4;
    height: 32.5%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 25px;
    letter-spacing: 7px;
}


.navigation > span {
    margin-bottom: 2px;
}

.navigation > button {
    background-color: inherit;
    font-size: 0.85em;
    border: none;
    letter-spacing: 7px;
    cursor: pointer;
}
.prev {
    transform: rotate(180deg);
    margin-right: 7px;
}

/* .prev {
    margin-right: 15px;
}

.next {
    margin-left: 10px;
} */


.details-header {
    background: #748687;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #748687;
    border-radius: 10px 10px 0 0;
}
.character-details {
    background: #C4C4C4;
    height: 42.5%;
    letter-spacing: 3px;
}
.character-details > p {
    font-size: 0.65em;
    padding: 0 5%;
}
.planet-details {
    height: 42.5%;
    background: #8E8E8E;
    color: white;
    letter-spacing: 3px;
}
.planet-details > p {
    font-size: 0.65em;
    padding: 0 5%;
}

h4 {
    font-weight: 100;
    padding: 0 5%;
    padding-top: 2%;
}



